body {
  margin: 0 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: aquamarine;
  margin-top: 0;
}

#navbar {
  background-color: aqua;
}

nav > ul > li > header {
  font-size: 2em;
  padding: 8px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  width: 350px;
  background-color: #f1f1f1;
  border: 1px solid #555;
  height: 100%;
  position: sticky;
  overflow: auto;
}

nav > ul > li > a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

nav > ul > li {
  text-align: left;
  border-bottom: 1px solid #555;
}

nav > ul > li:last-child {
  border-bottom: none;
}

nav > ul > li > a:hover {
  background-color: #555;
  color: white;
}
@media only screen and (max-width: 815px) {
  /* For mobile devices: */
  .container {
    flex-direction: column;
  }

  nav > ul {
    height: 200px;
    width: 100%;
  }
}
