body {
  margin: 0 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 0;
}

code {
  font-family: Consolas, "courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

.codeblock {
  background-color: chartreuse;
  border: 1px solid #555;
  margin: 4px;
  padding: 2px;
  border-radius: 2px;
}

pre {
  margin: 0;
  padding: 2px;
  font-size: 105%;
  font-family: Consolas, "courier new";
}
nav > ul > li > header {
  padding: 8px;
}

main {
  padding: 20px;
  margin-left: 350px;
}
header {
  font-size: 2em;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  width: 350px;
  background-color: #f1f1f1;
  border: 1px solid #555;
  height: 100%;
  position: fixed;
  overflow: auto;
}

nav > ul > li > a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

nav > ul > li {
  text-align: left;
  border-bottom: 1px solid #555;
}

nav > ul > li:last-child {
  border-bottom: none;
}

nav > ul > li > a:hover {
  background-color: #555;
  color: white;
}
@media only screen and (max-width: 815px) {
  /* For mobile devices: */
  .container {
    flex-direction: column;
  }

  nav > ul {
    height: 200px;
    width: 100%;
  }
  main {
    margin-left: 0;
    margin-top: 210px;
  }
}

ul {
  list-style: none;
  padding: 0;
}
h2 > pre {
  display: inline;
}

#list-methods > li > p {
  margin: 0;
  padding-left: 20px;
}

#list-methods > li {
  margin: 10px;
}
